.table {
  min-width: 450px;
  tr {
    th:first-child {
      width: 30%;
      font-size: 12px;
    }
    th {
      text-align: left;
      font-size: 12px;
    }
    td {
      text-align: left;
      font-size: 12px;
    }
  }
  a.calculate {
    font-size: 16px;
    font-weight: 500;
    color: #f88502;
  }

  a:hover.calculate {
    opacity: 0.8;
  }
  .buyNow {
    background-color: #f88502;
  }
}

.imageBox {
  background: inherit;
}
