.rootHeader {
  flex-grow: 1;
  .titleHeader {
    flex-grow: 1;
  }
  a {
    margin: 0px 20px 0px 0px;
  }
}
.intro {
  min-height: 89.5vh;
  background-image: linear-gradient(
    75.7deg,
    rgba(34, 126, 34, 1) 3.8%,
    rgba(99, 162, 17, 1) 87.1%
  );
  .bannerText {
    text-align: center;
  }

  .introTitle {
    margin-top: 20vh;
    color: #fff;
    text-align: center;
  }

  .introSubTitle {
    margin-top: 5vh;
    color: #fff;
    text-align: center;
  }

  .introButton {
    margin-top: 5vh;
    width: 200px;
    height: 50px;
    font-size: 20px;
  }
  .questionsText {
    color: #fff;
    text-align: center;
    margin-top: 15vh;
  }
  .questionsButton {
    margin-top: 20vh;
    width: 15vw;
    height: 20vh;
  }
}

.buttonActive {
  color: #333;
}

.buttonGetStarted {
  background-image: radial-gradient(
    circle farthest-corner at -1% 57.5%,
    rgba(19, 170, 82, 1) 0%,
    rgba(0, 102, 43, 1) 90%
  ) !important;
  color: #fff !important;
  height: "35px";
  margin: "7px 5px";
  border-radius: "5px";
}

.questions {
  height: 100vh;
  .questionsText {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 15vh;
  }
  .questionsButton {
    margin-top: 20vh;
    width: 15vw;
    height: 20vh;
  }
}
