.homeMain {
  background-image: url("../public/img/amazon8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.rootHeader {
  flex-grow: 1;
  .titleHeader {
    flex-grow: 1;
  }
  a {
    margin: 0px 20px 0px 0px;
  }
}
.intro {
  min-height: 89.5vh;
  .bannerText {
    text-align: center;
  }

  .introTitle {
    margin-top: 20vh;
    color: #fff;
    text-align: center;
  }

  .introSubTitle {
    margin-top: 5vh;
    color: #fff;
    text-align: center;
  }

  .introButton {
    background-image: radial-gradient(
      circle farthest-corner at 16.5% 28.1%,
      rgba(15, 27, 49, 1) 0%,
      rgba(0, 112, 218, 1) 90%
    );
    margin-top: 5vh;
    color: #fff;
    width: 200px;
    height: 50px;
    font-size: 20px;
  }
  .questionsText {
    color: #fff;
    text-align: center;
    margin-top: 15vh;
  }
  .questionsButton {
    margin-top: 20vh;
    width: 15vw;
    height: 20vh;
  }
}

.buttonActive {
  color: #fff !important;
}

.buttonGetStarted {
  background-image: radial-gradient(
    circle farthest-corner at 16.5% 28.1%,
    rgba(15, 27, 49, 1) 0%,
    rgba(0, 112, 218, 1) 90%
  ) !important;
  color: #fff !important;
  height: "35px";
  margin: "7px 5px";
  border-radius: "5px";
}

.questions {
  height: 100vh;
  .questionsText {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 15vh;
  }
  .questionsButton {
    margin-top: 20vh;
    width: 15vw;
    height: 20vh;
  }
}
