.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.bgText{
  text-align: center;
}

.bgTitle{
  margin-top: 20vh;
  background-color:rgba(255, 255, 255, 0.5)
}

.bgSubTitle{
  margin-top: 5vh;
  background-color:rgba(255, 255, 255, 0.5)
}

.bgButton{
  margin-top: 5vh;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.Map{
  margin-top: 10vh;
}